<!DOCTYPE html>
<html>
  <head>
    <title>ALPHA-BLOG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h1>Homepage for Alpha-Blog</h1>
  </head>

  <body>
    <%= link_to 'About',  about_path %>
    
    <p>This is the new alpha-blog, please kindly help me improve it!</p>
  </body>
</html>